<html>
  <head>
    <link rel='stylesheet' href="stylesheets/game.css">
  </head>
  <body>
  <h1>Play</h1>
  <button class='nav'><a href='/'>new game</a></button>
  <form action='/play/new' method='post' class='nav'>
    <input type="hidden" value="play_again">
    <input type="submit" value="play again">
  </form>
  <form action='/board/update' method='post'>
    <table id="board">
      <td class="top-left-corner">
        <input type="submit" value=<%=@game.board.grid[0]%> name='location' class='butn'/>
      </td>
      <td class="top-edge">
        <input type="submit" value=<%=@game.board.grid[1] %> name='location' class='butn'/>
      </td>
      <td class="top-right-corner">
          <input type="submit" value=<%=@game.board.grid[2] %> name='location' class='butn'/>
      </td>
    </tr>
    <tr class='row'>
      <td class='left-edge'>
        <input type="submit" value=<%=@game.board.grid[3] %> name='location' class='butn'/>
      </td>
      <td class='centre'>
        <input type="submit" value=<%=@game.board.grid[4] %> name='location' class='butn'/>
      </td>
      <td class='right-edge'>
        <input type="submit" value=<%=@game.board.grid[5] %> name='location' class='butn'/>
      </td>
    </tr>
    <tr class='row'>
      <td class='bottom-left-corner'>
        <input type="submit" value=<%=@game.board.grid[6] %> name='location' class='butn'/>
      </td>
      <td class='bottom-edge'>
        <input type="submit" value=<%=@game.board.grid[7] %> name='location' class='butn'/>
      </td>
      <td class='bottom-right-corner'>
        <input type="submit" value=<%=@game.board.grid[8] %> name='location' class='butn'/>
      </td>
    </tr>
  </table>
</form>
  </body>
</html>
